@model List<CustomerModel>

@if (Model != null && Model.Any())
{
    <!-- Varolan Veriyi Görüntüleme Tablosu -->
    <h2>Müşteriler</h2>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Müşteri Tipi ID</th>
            <th>Telefon</th>
            <th>Cep Telefonu</th>
            <th>Email</th>
            <th>Oluşturulma Tarihi</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Surname</td>
                <td>@customer.CustomerTypeId</td>
                <td>@customer.Phone</td>
                <td>@customer.Mobile</td>
                <td>@customer.Email</td>
                <td>@customer.CreatedDate</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Müşteriler bulunamadı.</p>
}

<a href="Customer/Customer" class="btn btn-primary mt-1">Yeni Ekle</a>